
/*
	
	SERVER REMOTE CONSOLE
	CSS stylesheet
	developed by Maxel (marianosciacco.it)
*/


body{ 
	background-color: #343a40; 
} 

.main_container{
	margin: 50px auto; 
	background-color: white; 
	box-shadow: 3px 8px 24px #000;
}

.page{ 
	background-color: #FFF; 
	padding: 20px; 
} 
a { 
	color: #444; 
	text-decoration: none; 
} 

a:hover{ 
	color: #999;
} 

.logo{
	max-width: 240px;
}

/*

td,th{ 
	border-bottom: 1px solid #CCC; 
	padding: 4px 6px; 
} 

tr:nth-child(odd){ 
	background-color: #F1F1F1; 
} 



table{
	border-collapse: collapse; 
} 


th{
	background-color: #999; 
	color: white; 
	text-align: left; 
	text-shadow: 1px 1px 1px #000;
}

*/

.btn{
	margin-top:  2px;
	margin-bottom: 2px;
}